@function px2rem($px){
  @return $px/100px *1rem;
}

a{
	text-decoration: none;
	color: #333;

}
.it-ul li{
	list-style:none;
	flex: 20%;
	text-align: center;
	line-height: px2rem(25px);
	font-size: px2rem(12px);
	color: #555;
}
.it-ul li p{
	margin-bottom:0; 
}
 .it-ul{
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: px2rem(50px);
	background: #fff;
	border-top:px2rem(1px) solid #ccc;
	padding-left:px2rem(20px); 
	z-index: 99; 
}
.green{
	color: green;
}
.iconfont{
	text-align: center;
	padding-top: px2rem(5px);
	font-size: px2rem(17px);
		color: #555;

}
.it-ul li:nth-child(5) p{
	font-size: px2rem(25px);

}
.it-ul li:nth-child(3) p{
	font-size: px2rem(19px);

}


