@function px2rem($px){
  @return $px/100px *1rem;
}

a{
	text-decoration: none;
	color: #333;

}
.it-ul li{
	list-style:none;
	flex: 20%;

}
.it-ul li p{
	margin-bottom:0; 
}
 .it-ul{
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: px2rem(50px);
	background: #fff;
	border-top:px2rem(1px) solid #ccc;
	padding-left:px2rem(20px);  
}
.green{
	color: green;
}


