@function px2rem($px){
  @return $px/100px *1rem;
}

a{
	text-decoration: none;
	color: #333;

}
li{
	list-style:none;
	flex: 20%;
/*	line-height: px2rem(50px);
*/	text-align: center;


}
li p{
	margin-bottom:0; 
}
 ul{
	display: flex;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: px2rem(50px);
	background: #fff;
	border-top:px2rem(1px) solid #ccc;
	padding-left:0;  
}
.green{
	color: green;
}


